.Vacations .vacations-align {
    display: flex;
    width: 100%;
    margin: auto;
}
.Vacations .vacations-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
}

.Vacations .pagination-wrapper {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.Vacations .action-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 8px;
    padding: 16px 0px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--Neutral-200);
}
.Vacations .action-nav button {
    display: flex;
    border: 1px solid transparent;
    color: var(--Neutral-700);
    justify-content: center;
    align-items: center;
    min-width: fit-content;
}
.Vacations .action-nav button:hover {
    border: 1px solid var(--Prime-500);
    color: var(--Prime-500);
}

.Vacations .action-nav button.active {
    background-color: var(--Prime-500);
    border: 1px solid transparent;
    color: white;
}

.Vacations .admin-functions {
    display: flex;
    column-gap: 8px;
    margin-left: auto;
    min-width: fit-content;
}
