.VacationCard {
    width: 30%;
    /* max-width: 30%; */
    min-width: 320px;
    /* height: 450px; */
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
    position: relative;
    padding-bottom: 16px;
    flex-grow: 1;
}
.VacationCard .bg-image {
    display: flex;
    height: 160px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16px 24px;
}
.VacationCard .bg-image h3 {
    margin-top: auto;
    color: hwb(0 100% 0%);
    font-weight: 300;
}

.VacationCard .bg-image > .functionality-wrapper {
    display: flex;
    flex-direction: row;
}

.VacationCard .admin-wrapper {
    display: flex;
    position: absolute;
    right: 16px;
    column-gap: 8px;
}

.VacationCard .card-body {
    margin: 24px 24px;
}

.VacationCard .vacation-dates {
    font-weight: 100;
    color: hwb(0 100% 32%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.VacationCard .vacation-dates > span {
    /* border: 1px solid hwb(0 100% 8%); */
    padding: 2px 6px;
    border-radius: 6px;
}

.VacationCard hr {
    border: 0.5px solid hwb(0 100% 8%);
    border-top: 0px;
}

.VacationCard .vacation-description {
    margin-top: 16px;
    padding: 0px 4px;
    text-align: justify;
    text-justify: auto;
}
.VacationCard p {
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    white-space: normal;
}
