.VacationCard {
    display: flex;
    flex-direction: column;
    width: 32%;
    min-width: 320px;
    height: 516px;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: white;
    overflow: hidden;
    position: relative;
    padding-bottom: 8px;
}
.VacationCard .bg-image {
    display: flex;
    height: 316px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16px 24px 28px 24px;
}
.VacationCard .bg-image h3 {
    font-size: 24px;
    margin-top: auto;
    color: white;
    font-weight: 400;
    letter-spacing:2px;
}

.VacationCard .bg-image > .functionality-wrapper {
    display: flex;
    flex-direction: row;
}

.VacationCard .admin-wrapper {
    display: flex;
    position: absolute;
    left: 16px;
    column-gap: 8px;
}

.VacationCard .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 4px 24px 0px 24px;
    color: var(--Neutral-700);
    position: relative;
    transform:translateY(-12px);
    background-color: white;
}

.VacationCard h4 {
    background-color: var(--Prime-200);
    font-size: 18px;
    font-weight: 100;
    color: white;
    text-align: center;
    margin-top: auto;
    border-radius: 4px;
    padding: 4px;
    font-weight: 500;
}

.VacationCard .vacation-dates {
    font-size: 14px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: end;
}

.VacationCard .vacation-description {
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 0px 4px;
    /* text-align: justify; */
    text-justify: auto;
}
.VacationCard p {
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.VacationCard .dates-wrapper {
    background-color: var(--Prime-100);
    border-radius: 10px 10px 0 0;
    padding: 16px 24px 28px 24px;
    position: relative;
    transform:translateY(-12px);
    box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.06);
}

.VacationCard .cards-connection {
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 12px 24px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.06);
}